<!DOCTYPE html>
<p>What is your name?</p>
<form class="" action="/happybirthday" method="post">
  <label for="name">
    <input type="text" name="name" value="">
  </label>
  <p>What's your Birthday?</p>
  <label for="">
    Day
    <input type="text" name="day" value="">
  </label>
  <label for="">
    Month
    <input type="text" name="month" value="">
  </label>
  <input type="submit" name="" value="Submit">
</form>
